{% extends 'partials/base.html' %}
{% block title %}Reset Password page{% endblock %}

{% block content %}
    <div class="row mb-5" style="margin: auto;width: 50%;margin-top: 100px; ">
        <!-- <div class="col-md-10 offset-md-1"> -->
            <div class="card card-body" >
                <h2>Password Reset Email Sent</h2>
                <p>We've sent you an email with instructions on how to reset your password. Please check your inbox.</p>
            </div>
        </div>
    </div>
{% endblock %}