<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <div class="row" style="margin-top: 50px;">
        <div class="links" style="text-align: center; margin: auto; width: 80%;">
            <div class="py-3 text-center">
                <a class="pr-5" style="color: black; border-radius: 32px 64px;" href="{% url 'breakfast' %}">BREAKFAST</a>
                <a class="pr-5" style="color: black;" href="{% url 'lunch' %}">LUNCH</a>
                <a class="pr-5" style="color: black;" href="{% url 'dinner' %}">DINNER</a>
                <a style="color: black;" href="{% url 'drinks' %}">DRINKS</a>
            </div>
        </div>
    </div>
</body>
</html>