{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete Food page{% endblock %}

{% block content %}

    <div class="container " style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-5 bg-white py-3 offset-md-3 text-center">
                <h3 class="bg-warning py-3">Delete "{{foods.name}}" </h3>
                <hr>
                <p>Are you sure you want to delete <strong>{{foods.name}} </strong> </p>

                <form action="" method="post">
                    {% csrf_token %}

                    <a class="btn btn-outline-secondary" href="{% url 'adminhome' %}">Cancel</a>
                    <button class="btn btn-danger">Delete</button>
                </form>

            </div>

    </div>
{%endblock%}